@use "/src/mixin.scss";

.top {
  padding-bottom: 1rem;

  h1,
  h2,
  p {
    font-family: "Rounded Mplus 1c";
  }

  h1 {
    background: #d0e6ff;
    box-sizing: border-box;
    margin: 0;
    color: #107cbb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;

    @include mixin.middle_view {
      height: 6.5rem;
      font-size: 3rem;
      padding: 1rem 0;
    }

    @include mixin.small_view {
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }

    img {
      width: 1em;
      vertical-align: baseline;
      margin-right: 0.25em;
    }
  }

  .overview {
    height: calc(100vh - (6.5rem + 4rem));
    box-sizing: border-box;
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: #545251;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .morphing_area {
      @include mixin.middle_view {
        height: calc(100% - 8.5rem);
      }
    }
  }

  .footer {
    background: #d0e6ff;
    position: fixed;
    bottom: 0;
    width: 100%;

    @include mixin.middle_view {
      height: 4rem;
      display: flex;
    }

    @include mixin.small_view {
      padding: 1rem 0;
      height: 8rem;
      display: flex;
    }
  }
}
