<mat-card-header>
  <mat-card-title>
    {{ keyword.keyword }}
  </mat-card-title>
  <button
    *ngIf="isEditable"
    mat-icon-button
    class="menu_button"
    [matMenuTriggerFor]="menu"
    (click)="delayRemovable()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      *ngIf="isEditable"
      mat-menu-item
      (click)="openDialog()"
      [disabled]="!removable"
    >
      <mat-icon [color]="removable ? 'warn' : ''">delete</mat-icon>
      <span>削除する</span>
    </button>
  </mat-menu>
</mat-card-header>
<mat-card-content>
  <section>
    <p class="url" *ngIf="keyword.url">
      <mat-icon>link</mat-icon>
      <a href="{{ keyword.url }}" target="_blank" rel="noopener noreferrer">{{
        keyword.url
      }}</a>
    </p>
    <mat-chip-list multiple="true">
      <mat-chip
        *ngFor="let tag of keyword.tags"
        (click)="onClickTag.emit(tag)"
        [selected]="isSelectedTag(tag)"
        color="accent"
      >
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </section>
  <mat-card-actions>
    <time *ngIf="keyword.updateDate !== null">{{
      keyword.updateDate.seconds * 1000 | date: "yyyy/MM/dd HH:mm"
    }}</time>
    <section class="btn">
      <button mat-icon-button *ngIf="isEditable" (click)="openEditor.emit()">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        *ngIf="reprintable"
        [disabled]="reprinted"
        (click)="reprintToMystorage()"
      >
        <mat-icon>move_to_inbox</mat-icon>
      </button>
    </section>
  </mat-card-actions>
</mat-card-content>
