.mat-card-content {
  padding: 0 1rem 1rem 1rem;

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field:first-child {
    padding-top: 1rem;
  }

  .mat-icon {
    vertical-align: middle;
  }

  .mat-chip {
    height: auto;
    line-height: 1;
    word-break: break-all;
  }
}

.mat-card-actions {
  padding-bottom: 0;
  margin: 0;
  text-align: right;

  time {
    color: #ccc;
    font-size: 0.75rem;
  }

  .btn {
    display: inline-block;
    padding-left: 1em;
    margin-left: 1em;
    border-left: #ccc dotted 1px;
  }
}
