.keyword_list_box {
  --header-height: 3.5rem;
  --footer-height: 10rem;

  position: relative;
  flex: 1;
  padding-top: calc(var(--header-height) + 1rem);
  padding-left: 1rem;
  padding-bottom: calc(var(--footer-height) + 1rem);
  padding-right: 1rem;

  min-height: calc(
    100vh - (var(--header-height) + var(--footer-height) + 2rem)
  );

  .inner {
    height: 100%;
    overflow: auto;

    .keyword_list {
      .keyword_card ~ .keyword_card {
        margin-top: 0.75em;
      }
    }

    .empty {
      font-family: "Rounded Mplus 1c";
      text-align: center;
    }
  }
}

.loading_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
