.keywordListBox {
  position: relative;
  flex: 1;
  padding-top: 3.5rem;

  .inner {
    height: 100%;
    overflow: auto;

    .keywordList {
      padding: 1em 1em 10.5em;
      background: #f7f6f5;
      box-sizing: border-box;
      overflow: auto;
    }

    .keywordCard ~ .keywordCard {
      margin-top: 0.75em;
    }

    .empty {
      font-family: "Rounded Mplus 1c";
      text-align: center;
    }
  }
}

.loading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
