<div *ngIf="keywords; else loading" class="keywordListBox">
  <div class="inner">
    <article class="keywordList" *ngIf="filteredKeywords.length; else empty">
      <section
        *ngFor="let keyword of filteredKeywords; trackBy: trackByKeywordId"
        class="keywordCard"
      >
        <app-keyword-card
          [searchWords]="searchWords"
          [isEditable]="isMyPage"
          [keyword]="keyword"
          (toggleSearchWord)="toggleSearchWord.emit($event)"
        >
        </app-keyword-card>
      </section>
    </article>
    <ng-template #empty>
      <section class="empty" *ngIf="keywords.length === 0">
        <h1>このストレージは空っぽ！</h1>
        <p *ngIf="isMyPage">右下のボタンからキーワードを追加してみましょう。</p>
      </section>
      <section class="empty" *ngIf="filteredEmpty">
        <h1>カードが見つかりません！</h1>
        <p>絞り込むタグを変更してみましょう。</p>
      </section>
    </ng-template>
  </div>
</div>

<ng-template #loading>
  <div class="loading-area">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
